/node_modules
.env
.env.local
.env.development.local
.env.test.local
.env.production.local
config.js
2024-2-5.xlsx
outpt.xlsx
output.xlsx
tsconfig.json
discord.d.ts
2024.xlsx
psychic-outcome-418515-147d5a8ee272.json